.dev{
    position: relative;
    background-color:#c492da;
    background-image: url(https://w.wallha.com/ws/12/dYegvarH.jpg);
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
    background-size: 1920px 1000px;
    
  }
  .sidebar.open ~ .dev{
    left: 250px;
    width: calc(100% - 250px);
    
  }
  
  .dev .text h1{
    display: inline-block;
    color: #0bd0eb;
    font-size: 35px;
    text-align: center;   
    font-family: 'Roboto Condensed', sans-serif;     
    width: 100%;
    
  }
.dev .text h2{
  background:rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    color: #86cf96;
    font-size: 28px;
    padding: 50px;
    margin: 20px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif; 
}

.dev .imgg img{
    width: 20%;
    border-style:ridge ;
    border-color: #060772;
    border-radius: 40px;
    border-width: 10px;
    transform: translateX(-50%);
    position: relative;
 
    left: 48%;
    
}

.dev .text .QMP p{
  background:rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(10px);
    color: #99abdf;
    font-size: 25px;
    padding: 50px;
    margin: 20px;
    text-align: justify;
    font-family: 'Roboto Condensed', sans-serif; 
    max-width: 50%;
   transform: translateX(-50%);
   position: relative;
   left: 48%;
   margin: 20px;
}
